/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#nav-btn-div{
    border-bottom: 1px solid grey;
    margin: 0 1% 0 1%;
}

#nav-btn-div > div {
    margin: 3% 0 3% 0;
}

.anchor{
    text-decoration: none;
    color: black;
    border-right: 1px solid #bebebe;
}

.anchor{
    padding-right: 5%;
    padding-left: 5%;
}

.anchor:hover{
    color: black;
    background-color: whitesmoke;
    cursor: grab;
}

.element{
    position: relative;
}

.element:first-child{
    background-color: red;
    width: 100%;
    height: 100%;
}

.element:nth-child(2){
    background-color: blue;
    width: 100%;
    height: 100%;
}

.element:last-child{
    background-color: green;
    width: 100%;
    height: 100%;
}

#nav-bar{
    height: 80px;
}

#logo > img {
    width: 90%;
}

.btn {
    margin-right: 20px;
    width: 60px;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    background-color: #212529;
    color: white;
    border: 1px solid white !important;
}

.btn:hover {
    background-color: #7c7878 !important;
    color: black !important;
}

#time-sector{
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 3px 0 3px;
    margin-right: 20px !important;
}

#time-sector > div > div:first-child {
    border-bottom: 1px solid white;
}

.bn_date {
    font-weight: bold;
}

#power-state-parent{
    height: 60px;
}

#pcs{
    font-size: 0.9em;
}

#power-state{
    width: 15%;
    min-width: 160px;
    margin-left: 10px;
}

.circle {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    animation: powerStateCircle 2s infinite;
}

@keyframes powerStateCircle {
    from{
        border: 17px solid #dedede;
    }
}

.card-body{
    height: 300px;
}

.text-in-card {
    font-weight: bold;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-in-card-exception{
    justify-content: start;
}

.icon-in-card{
    width: 2em;
}

.hr-in-card{
    margin: 10px 0 10px 0;
}

.chart-sector{
    width: 100%;
    height: 80%;
}

/* 가운데 4개 짜리 카드 높이 커스텀 */
.h-96-8{
    height: 96.8%;
    min-height: 710px;
}

/*탭*/
.tab-content{
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.tab-content.current{
    display: inherit;
}

.modebar-container > div:first-child{
    display: none !important;
}

